@import url(http://fonts.googleapis.com/css?family=PT+Serif:400italic);

/* Reset */ 
html,body,div,span,h1,h2,h3,h4,h5,h6,p,em,img,strong,ol,ul,li,form,label,header,footer { margin: 0; padding: 0; border: 0; outline: 0; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 100%; vertical-align: baseline; background: transparent; } body { line-height: 1 } header,footer { display: block } a { margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent; } input,select { vertical-align: middle }

/* Header */
header {
	display: inline-block;
	background-color: #000;
	box-shadow: 0px 3px 5px rgba(0,0,0,.35);
	padding: 20px;
	color: #fff;
}
h1 {
	padding: 0 30px;
	line-height: 110%;
}
h1 em {
	font-size: .95em;
	display: block;
	clear: left;
}

/* General */
em {
	font-family: 'PT Serif', serif;
	font-weight: normal;
}
p {
	margin: .5em 0 1em;
	color: #666;
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
	color: #666;
}

/* Keys */
#key {
	margin: 0 auto;
	max-width: 585px;
	width: 60%;
	overflow: hidden;
}

#key ul li {
	background-color: #e5e5e5;
	display: inline-block;
	font-size: 6em;
	font-weight: bold;
	width: 185px;
	line-height: 160%;
	text-align: center;
	margin: 5px;
	border-radius: .1em;
	color: rgba(255,255,255,1);
	-webkit-transition: all .15s ease-in; 
}
#key ul li:hover,
#key ul li.active {
	cursor: pointer;
	color: #00CCFF;
	text-shadow: 0 0 .05em #0099CC;
	box-shadow: 0 1px 4px rgba(0,0,0,.35);
	background-color: #fff;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.02, rgb(240,240,240)),
	    color-stop(0.16, rgb(255,255,255))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(240,240,240) 2%,
	    rgb(255,255,255) 16%
	);
}
#user-selection {
	text-align: center;
	margin: 0 auto 2em;
}
#selected-key {
	background-color: #e5e5e5;
	font-size: 3em;
	font-weight: bold;
	width: 100px;
	line-height: 160%;
	text-align: center;
	margin: .5em auto;
	border-radius: .1em; 
	color: #00CCFF;
	text-shadow: 0 0 .05em #0099CC;
	box-shadow: 0 0 2px rgba(0,0,0,.35);
	background-color: #fff;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.02, rgb(240,240,240)),
	    color-stop(0.16, rgb(255,255,255))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(240,240,240) 2%,
	    rgb(255,255,255) 16%
	);
}
button {
	color: white;
	font-size: 1.4em;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight: bold;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.37, rgb(49,180,236)),
	    color-stop(0.69, rgb(0,204,255))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(49,180,236) 37%,
	    rgb(0,204,255) 69%
	);
	border: 1px solid #0099CC;
	padding: .35em .75em;
	border-radius: .25em;
	cursor: pointer;
}
button:active {
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.37, rgb(0,204,255)),
	    color-stop(0.69, rgb(49,180,236))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(0,204,255) 37%,
	    rgb(49,180,236) 69%
	);
}
/* Results */
#results {
	display: none;
	margin: 0 auto;
	max-width: 585px;
	width: 60%;
	padding: 0 0 50px;
}
ul.chord-set {
	list-style: none;
}
ul.chord-set li {
	display: inline-block;
	margin: 3px;
	width: 185px;
}
.chord-holder {
	background-color: #e5e5e5;
	display: inline-block;
	font-size: 6em;
	font-weight: bold;
	width: 185px;
	line-height: 160%;
	text-align: center;
	border-radius: .1em;
	color: rgba(255,255,255,1); 
}
/* Fretboard */
.fretboard {
	background-color: #fff;
	margin: 0 auto;
	width: 76px;
	height: 124px;
	border: 1px solid black;
	border-top: 12px solid black;
	box-shadow: 0 0 10px rgba(0,0,0,.35);
}

/* Footer */
footer {
	background-color: rgba(255,255,255,.75);
	font-size: .75em;
	position: fixed;
	padding: 20px;
	left: 0px;
	bottom: 0px;
	color: #999;
}
footer p {
	font-weight: normal;
}
footer a {
	color: #999;
}
footer a:hover {
	color: black;
	text-decoration: none;
}

#preloader {
	position: absolute;
	background-color: black;
	color: white;
	padding: 20px;
	border-radius: .25em;
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	#key {
		width: 480px;
	}
	#key ul li {
		font-size: 5em;
		width: 150px;
	}

}

/* Mobile */
@media only screen and (max-width: 767px) {
	header {
		display: block;
	}
	#key {
		width: 234px;
	}
	#key ul li {
		font-size: 8em;
		width: 224px;
	}
}

/* Wide Mobile */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}